<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

In this project, I will build a regression model using the deep learning Keras library, and then I will experiment with increasing the number of training epochs and changing number of hidden layers and will see how changing these parameters impacts the performance of the model.

## Downlad And Clean the Dataset

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [1]:
import numpy as np
import pandas as pd

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
#Check for null values
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split the data into Predictors and Target

In [6]:
col = concrete_data.columns
concrete_columns = col[col!='Strength']

In [7]:
predictors = concrete_data[concrete_columns]

In [8]:
target = concrete_data['Strength']

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
#Normalizing the predictors data(Part B) :
#predictors_norm = (predictors - preidctors.mean()) / predictors.std()
#predictors_norm

# Part A

Here we will import appropriate keras libraries and build a baseline model

This model contains :

- One hidden layer of 10 nodes, and a ReLU activation function

- For compilation, adam optimizer and the mean squared error as the loss function are used.

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
def regression_model():
    # creation of model
    model = Sequential()
    n_cols = predictors.shape[1]
    model.add(Dense(10, activation ='relu', input_shape = (n_cols,)))
    model.add(Dense(1))
    #compile model
    model.compile(optimizer = 'adam',loss = 'mean_squared_error')
    return model

This is what we are going to do next:
1. Randomly split the data into a training and test sets by holding 30% of the data for testing. I have used the train_test_split helper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
all_mse = []
for steps in range(50):
    # Split the data
    X_train,X_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.3)
    # Train the model
    model = regression_model()
    model.fit(X_train,y_train, validation_data=(X_test,y_test),epochs = 50,verbose =0)
    y_pred = model.predict(X_test)
    # Evaluate the model on test data
    mse = mean_squared_error(y_test,y_pred)
    print('MSE for {} step is: {}'.format(steps+1,mse))
    all_mse.append(mse)
print(all_mse)

MSE for 1 step is: 239.33857318190772
MSE for 2 step is: 144.90250557772097
MSE for 3 step is: 144.4232074461843
MSE for 4 step is: 144.5408298652536
MSE for 5 step is: 121.20795404519687
MSE for 6 step is: 789.4126075586277
MSE for 7 step is: 116.7600647406969
MSE for 8 step is: 164.96739399025554
MSE for 9 step is: 161.47184366776634
MSE for 10 step is: 180.55880831739992
MSE for 11 step is: 217.21791167364523
MSE for 12 step is: 582.3256230558686
MSE for 13 step is: 346.45176597964524
MSE for 14 step is: 131.44398600689567
MSE for 15 step is: 2497.8646006484305
MSE for 16 step is: 1491.4675604134043
MSE for 17 step is: 125.00133945304069
MSE for 18 step is: 616.3465200300278
MSE for 19 step is: 174.78673277557775
MSE for 20 step is: 1628.9272279536633
MSE for 21 step is: 113.90616568039164
MSE for 22 step is: 112.08350748084746
MSE for 23 step is: 287.2227175541932
MSE for 24 step is: 353.6619482211846
MSE for 25 step is: 229.42405945609838
MSE for 26 step is: 1160.1934471438533
MSE for 27 step is: 108.42716661874178
MSE for 28 step is: 193.85139642420566
MSE for 29 step is: 384.6293920583497
MSE for 30 step is: 1871.1511938851936
MSE for 31 step is: 160.57139739361904
MSE for 32 step is: 471.4163407983102
MSE for 33 step is: 173.04285602181616
MSE for 34 step is: 305.5386947180631
MSE for 35 step is: 80.15380438493858
MSE for 36 step is: 1786.6083106687809
MSE for 37 step is: 184.02161269519735
MSE for 38 step is: 118.92008481334206
MSE for 39 step is: 141.57542913661774
MSE for 40 step is: 103.05784095501704
MSE for 41 step is: 133.14509000126336
MSE for 42 step is: 302.7840955624238
MSE for 43 step is: 824.7403812457376
MSE for 44 step is: 344.9139359740277
MSE for 45 step is: 112.6841744949343
MSE for 46 step is: 106.02551842897905
MSE for 47 step is: 99.38837073599652
MSE for 48 step is: 754.7492807825644
MSE for 49 step is: 394.00854967898357
MSE for 50 step is: 1381.7584878429357
[239.33857318190772, 144.90250557772097, 144.4232074461843, 144.5408298652536, 121.20795404519687, 789.4126075586277, 116.7600647406969, 164.96739399025554, 161.47184366776634, 180.55880831739992, 217.21791167364523, 582.3256230558686, 346.45176597964524, 131.44398600689567, 2497.8646006484305, 1491.4675604134043, 125.00133945304069, 616.3465200300278, 174.78673277557775, 1628.9272279536633, 113.90616568039164, 112.08350748084746, 287.2227175541932, 353.6619482211846, 229.42405945609838, 1160.1934471438533, 108.42716661874178, 193.85139642420566, 384.6293920583497, 1871.1511938851936, 160.57139739361904, 471.4163407983102, 173.04285602181616, 305.5386947180631, 80.15380438493858, 1786.6083106687809, 184.02161269519735, 118.92008481334206, 141.57542913661774, 103.05784095501704, 133.14509000126336, 302.7840955624238, 824.7403812457376, 344.9139359740277, 112.6841744949343, 106.02551842897905, 99.38837073599652, 754.7492807825644, 394.00854967898357, 1381.7584878429357]

Mean And Standard Deviation of all MSE (Reported)

In [15]:
mean= np.mean(all_mse)
std = np.std(all_mse)
mean_50 = np.around(mean,decimals=4)
std_50 = np.around(std,decimals=4)
print('Mean of all 50 mean squared errors is : ', mean_50)
print('Standard Deviation of all 50 mean squared error is : ',std_50)

Mean of all 50 mean squared errors is :  456.2614
Standard Deviation of all 50 mean squared error is :  549.0125